/* Scroll Bar Css Code start from here */
react-datepicker__input-container input { outline:none};

.main-container {
  margin: auto;
  overflow-x: scroll;
}
.abc-container {
  width: 1510px;
}

.main-container::-webkit-scrollbar {
  display: none;
}

/* PopUp Card start from here */

.card-heading h4 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 6px 0px;
color: white;
}

.input-text {
  text-align: center;
  padding: 5px 0px;
}

.input-text input {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
}

.input-wrapper::placeholder {
  font-size: 14px;
  padding-left: 5px;
}

.check-boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2rem;
}

.check-boxs label {
  font-size: 14px;
  padding: 6px;
  font-family: monospace;
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 3px 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1rem 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button1 {
  background-color: white;
  color: black;
  border: 1px solid #f7bdbd;
}

.button1:hover {
  background-color: #000000;
  color: white;
  border: none;
}

.button2 {
  background-color: white;
  color: black;
  border: 1px solid #008cba;
}

.button2:hover {
  background-color: #008cba;
  color: white;
}

.card-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.form-container {
  width: 400px;
  height: 215px;
  margin: 1rem 0px;
  border-radius: 5px;
  background: #accbee;
  background: linear-gradient(to right, rgb(25 112 243 / 71%), rgb(30 183 229));
  padding: 15px 0px;
}

.form-container:hover {
  background: #fff1eb;
  background: linear-gradient(to right, rgb(30 183 229), rgb(25 112 243 / 71%));

}
/* .form-check-input {
 
  vertical-align: top;
  border-color: var(--muted) !important;
  background-color: initial !important;
  
}
.form-check-input[type=checkbox] {
  border-radius: var(--border-radius-sm);
} */

.form-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.map-container {
  width: 100%;
  margin: auto;
  height: 60vh;
}

/* Device List Page  code   start from here*/

.row-container {
  width: 100%;
  max-width: 97%;
  margin: auto;
}

.row-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-container ul li {
  text-decoration: none;
  list-style: none;
}

.row-data {
  border: 1px solid green;
}

.row-data ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* =========== */
.invoice {
  font-family: sans-serif;
  text-align: center;
}





.select-btn{
  position: absolute;
  top: 3rem;
  right: 40px;
  padding: 0px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 5px;
  width: auto;
  flex-direction: column-reverse;
}

.set-para-btn{
  padding: 5px 0px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.para-handler{
  display: flex;
    width: 100%;
    align-items: center;
    font-size: 10px;
}

.para-range{
  width: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para-range-falls{
  width: 36%;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: end;
}
@media only screen and (max-width: 992px) {
  .set-para-btn{
    margin-top: 3rem;
    margin-right: -17px;
    display: block;
  } 
}

@media only screen and (max-width: 992px) {
  .select-btn {
    margin-top: 3rem;
    margin-right: -17px;
    display: block;
  } 
}

@media only screen and (max-width: 580px) {
  .select-btn {
    margin-top: 2.5rem;
    margin-right: -1.7rem;
  } 
}


::-webkit-scrollbar {
  display: none;
}


.card-container{
border: 1px solid green;

}
.card-items{
  border-radius: 10px;
  width: 425px;
  height: 200px;
  margin: 5px;
}
.card-items h3{
  text-align: center;
}


/* ================================= */
